<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if car %}
        <table>
            <tr>
                <td>Название</td>
                <td>{{car.name}}</td>
            </tr>
         <tr>
                <td>VIN</td>
                <td>{{car.vin_number}}</td>
            </tr>
         <tr>
                <td>Модель</td>
                <td>{{car.model}}</td>
            </tr>
         <tr>
                <td>Производитель</td>
                <td>{{car.company}}</td>
            </tr>
         <tr>
                <td>Цвет</td>
                <td>{{car.color}}</td>
            </tr>
         <tr>
                <td>Тип</td>
                <td>{{car.car_type}}</td>
            </tr>
         <tr>
                <td>Дата выпуска</td>
                <td>{{car.product_date}}</td>
            </tr>
        </table>
      <p></p>
    {% else %}
      {% for car in cars %}
        <p><a href="/car/{{car.id}}">{{car}}</a></p>
      {% endfor %}
    {% endif%}
  </body>
</html>
